<tr>
  <td><%= change[:time] %></td>
  <td><%= link_to change[:user].name, "" %></td>
  <td><%= change[:issue].id %></td>
  <td><%= change[:issue].subject %></td>
  <td><%= change[:hours] %></td>
</tr>
